.Block{
    border-style: solid;
    border-width: 1px;
    padding: 20px 20px;
    font-size: 26px;
    font-family: Arial;
    text-align: left;
    margin: 20px 30px;
}

.Center{
    display: block;
    margin: 5px auto;
}

.Inline{
    display: inline-block;
    flex-direction: column;
    margin: 5px 5px;
}

.Color{
    color: #FFFFFF;
    border-color: #FFFFFF;
    background-color: #7B5DAD;
}